.rect_bar_female {
  /*fill: #FFAB91;*/
  /*background-image: -linear-gradient(blue, blue);*/
  stroke: white;
  stroke-width: .5px;
}

.rect_bar_male {
  fill: #F4511E;
  stroke: white;
  stroke-width: .5px;
}

.rect_bar_male:hover {
  fill: #FFEA00;
  stroke: #FFEA00;
  stroke-width: 1px;
}

.rect_bar_female:hover {
  fill: #FFEA00;
  stroke: #FFEA00;
  stroke-width: 1px;
}

.myLabel {
  fill: grey;
  font-size: 20pt;
}

.myLabel1 {
  fill: grey;
  font-size: 14pt;
}

.myLabel2 {
  fill: grey;
  font-size: 10pt;
}